Repository Aiko-IT-Systems/AITSYS.Webhooks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aiko-IT-Systems/aitsys-developer, @Lulalaby, @Aiko-IT-Systems/aitsys-leader, @NyuwBot

.github/CODEOWNERS:

* @Aiko-IT-Systems/aitsys-developer

/AITSYS.Webhooks.Docs/dcs/ @Lulalaby
/AITSYS.Webhooks.Docs/docfx.json @Lulalaby

*.yml @Lulalaby
*.ps1 @Lulalaby

*.targets @Aiko-IT-Systems/aitsys-leader
LICENSE.md @Aiko-IT-Systems/aitsys-leader
README.md @Aiko-IT-Systems/aitsys-leader

/.github/ @Lulalaby @NyuwBot @Aiko-IT-Systems/aitsys-leader

Add base package
  .editorconfig
  AITSYS.Webhooks/AITSYS.Webhooks.csproj
  AITSYS.Webhooks/Program.cs
  Package.targets
Owners: @Aiko-IT-Systems/aitsys-developer, @Aiko-IT-Systems/aitsys-leader

Add stuff
  AITSYS.Webhooks.GitHub/AITSYS.Webhooks.GitHub.csproj
  AITSYS.Webhooks.sln
  AITSYS.Webhooks/AITSYS.Webhooks.csproj
Owners: @Aiko-IT-Systems/aitsys-developer

Update stuff
  AITSYS.Webhooks.GitHub/AITSYS.Webhooks.GitHub.csproj
  AITSYS.Webhooks.Logos/logo_black.png
  AITSYS.Webhooks/AITSYS.Webhooks.csproj
  AITSYS.targets
  NuGet.targets
  Package.targets
Owners: @Aiko-IT-Systems/aitsys-developer, @Aiko-IT-Systems/aitsys-leader

Rebuild
  NuGet.targets
Owners: @Aiko-IT-Systems/aitsys-leader

Update AITSYS.targets
  AITSYS.targets
Owners: @Aiko-IT-Systems/aitsys-leader

Update api key
  appveyor.yml
Owners: @Lulalaby
